.medical-care {
  padding: 32px 32px 0;
}

.medical-care_title {
  font-size: 2.4em;
  margin-bottom: 32px;

}

.medical-care_list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
}

.medical-care_item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 32px;
  width: 100%;
  padding: 24px;
}

.medical-care_item div {
  text-align: center;
}

.text-normal {
  font-size: 2.4em;
  font-weight: 400;
  line-height: 1.5;
  color: var(--black);
}

.medical-care_item_hospital-title {
  color: var(--red-500);
}

@media screen and (min-width: 768px) {
  .medical-care_title {
    font-size: 3em;
  }
}

@media screen and (min-width: 1024px) {
  .medical-care_item {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 16px;
    width: 75%;
    padding: 20px;
  }

  .medical-care_item div {
    text-align: left;
  }

  .medical-care_item:nth-child(even) {
    flex-direction: row-reverse;
  }

  .medical-care_title {
    font-size: 3.6em;
  }

  .text-normal {
    font-size: 3.2em;
    font-weight: 400;
    line-height: 1.5;
  }
}
